<!doctype html>
<html>
  <body>
    <h2>Add Book</h2>

    <input id="title" placeholder="Title" /><br /><br />
    <input id="author" placeholder="Author" /><br /><br />
    <input id="year" placeholder="Year" /><br /><br />

    <button onclick="addBook()">Add</button>

    <script>
      async function addBook() {
        const book = {
          title: document.getElementById("title").value,
          author: document.getElementById("author").value,
          year: document.getElementById("year").value,
        };

        const res = await fetch("/api/books/add", {
          method: "POST",
          headers: { "Content-Type": "application/json" },
          body: JSON.stringify(book),
        });

        const data = await res.json();

        alert(`Book Added!\nID: ${data.data._id}`);
      }
    </script>
  </body>
</html>
