<!doctype html>
<html>
  <head>
    <title>Book Store</title>

    <style>
      body {
        font-family: Arial;
        text-align: center;
        margin-top: 100px;
      }

      a {
        display: block;
        width: 220px;
        margin: 12px auto;
        padding: 12px;
        background: #333;
        color: white;
        text-decoration: none;
        border-radius: 5px;
      }
    </style>
  </head>

  <body>
    <h1>Book Store</h1>
    <a href="/books">View All Books</a>
    <a href="/book">Find Book By ID</a>
    <a href="/add">Add Book</a>
    <a href="/update">Update Book</a>
    <a href="/delete">Delete Book</a>
  </body>
</html>
